{
    "presets": ["next/babel"],
    "plugins": ["@emotion"]
  }
// {
//   "presets": [
//     "next/babel"
//   ],
//   "plugins": [
//     [
//       "import",
//       {
//         "libraryName": "antd",
//         "style": true
//       }
//     ]
//   ]
// }